body{
    padding: 0px;
    margin: 0px;
}
div{
    padding: 4px;
    margin: 0px 0px 0px 0px;
    height: 110px;
    width: 220px;
    display: inline-flex;
    white-space-collapse: collapse;
    align-items: flex-end;
    justify-content: flex-end;
    color: rgb(229, 246, 247);
    font-style: normal;
    font-weight: bold; 
}
h2{
    color: white;
    background-color: black;
    width: fit-content;
    margin-left: 35% ;
    border-radius: 5px;
    padding:0px;
}
.back{
    position: absolute;
    top: 15px;
    left: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.div1{
    background-color:#fad390;
}
.div2{
    background-color: #f8c291;
}
.div3{
    background-color: #6a89cc;
}
.div4{
    background-color: #82ccdd;
}
.div5{
    background-color: #b8e994;
}
.div6{
    background-color: #f6b93b;
}
.div7{
    background-color: #e55039;
}
.div8{
    background-color: #4a69bd;
}
.div9{
    background-color: #60a3bc;
}
.div10{
    background-color: #78e08f;
}
.div11{
    background-color:#fa983a;
}
.div12{
    background-color: #eb2f06;
}
.div13{
    background-color: #1e3799;
}
.div14{
    background-color: #3c6382;
}
.div15{
    background-color: #38ada9;
}
.div16{
    background-color: #e58e26;
}
.div17{
    background-color: #b71540;
}
.div18{
    background-color: #0c2461;
}
.div19{
    background-color: #0a3d62;
}
.div20{
    background-color: #079992;
}